In [5]:
## Basic Modules to Import in Each Notebook

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import pandas as pd
import os

In [6]:
df = pd.read_csv("combined2.csv")
# df.head()

In [7]:
for col in df.columns: 
    print(col)

id
sex
age
age_cat
race
juve_fel_count
decile_score
juv_misd_count
juv_other_count
prios_count
c_charge_degree
c_charge_desc
violence
drugs
theft
arrest_case_no_charge
traffic
disorderly_conduct
sexual_misconduct
is_recid
is_violent
type_of_assessment
decile_score_a
score_text
v_type_of_assessment
v_decile_score_v
v_score_text
priors_count
start
end_
event
two_year_recid

In [9]:
smallerDF = pd.get_dummies(df)
smallerDF.head()

,id,age,juve_fel_count,decile_score,juv_misd_count,juv_other_count,prios_count,violence,drugs,theft,...,c_charge_desc_Voyeurism,c_charge_desc_arrest case no charge,type_of_assessment_Risk of Recidivism,score_text_High,score_text_Low,score_text_Medium,v_type_of_assessment_Risk of Violence,v_score_text_High,v_score_text_Low,v_score_text_Medium
0,1,69,0,1,0,0,0,7,0,0,...,0,0,1,0,1,0,1,0,1,0
1,3,34,0,3,0,0,0,7,0,0,...,0,0,1,0,1,0,1,0,1,0
2,4,24,0,4,0,1,4,0,6,0,...,0,0,1,0,1,0,1,0,1,0
3,5,23,0,8,1,0,1,0,6,0,...,0,0,1,1,0,0,1,0,0,1
4,6,43,0,1,0,0,2,0,0,0,...,0,1,1,0,1,0,1,0,1,0

In [10]:
X = smallerDF[['age', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'sex_Female', 'sex_Male']]
y = smallerDF[['two_year_recid']].values.reshape(-1, 1)
# y = smallerDF[['two_year_recid']]
print(X.shape, y.shape)

(7185, 12) (7185, 1)

In [11]:
feature_names = X.columns

In [12]:
from sklearn.model_selection import train_test_split
from sklearn import tree
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)
# this is my r2 score

0.6215915414579856

In [14]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

C:\Users\scott\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.6421814134668893

In [15]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.5558933099541958, 'age'),
 (0.33544060588324215, 'priors_count'),
 (0.022836298913657647, 'juve_fel_count'),
 (0.012658851342994127, 'drugs'),
 (0.01119372139264221, 'violence'),
 (0.011061778756758718, 'arrest_case_no_charge'),
 (0.009977598474763195, 'theft'),
 (0.009710660205319082, 'traffic'),
 (0.00959365994241162, 'sex_Female'),
 (0.00930864892619545, 'sex_Male'),
 (0.009175977600130156, 'disorderly_conduct'),
 (0.00314888860768984, 'sexual_misconduct')]