In [122]:
## Basic Modules to Import in Each Notebook

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [123]:
df = pd.read_csv("combined2.csv")
df.head()

,id,sex,age,age_cat,race,juve_fel_count,decile_score,juv_misd_count,juv_other_count,prios_count,...,decile_score_a,score_text,v_type_of_assessment,v_decile_score_v,v_score_text,priors_count,start,end_,event,two_year_recid
0,1,Male,69,Greater than 45,Other,0,1,0,0,0,...,1,Low,Risk of Violence,1,Low,0,0,327,0,0
1,3,Male,34,25 - 45,African-American,0,3,0,0,0,...,3,Low,Risk of Violence,1,Low,0,9,159,1,1
2,4,Male,24,Less than 25,African-American,0,4,0,1,4,...,4,Low,Risk of Violence,3,Low,4,0,63,0,1
3,5,Male,23,Less than 25,African-American,0,8,1,0,1,...,8,High,Risk of Violence,6,Medium,1,0,1174,0,0
4,6,Male,43,25 - 45,Other,0,1,0,0,2,...,1,Low,Risk of Violence,1,Low,2,0,1102,0,0

In [ ]:
for col in df.columns: 
    print(col)

In [124]:
reducedDF = df[['sex', 'age', 'age_cat', 'race', 'juve_fel_count', 'juv_misd_count', 'prios_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'priors_count', 'two_year_recid']]
reducedDF.head()

,sex,age,age_cat,race,juve_fel_count,juv_misd_count,prios_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,priors_count,two_year_recid
0,Male,69,Greater than 45,Other,0,0,0,7,0,0,0,0,0,0,0,0
1,Male,34,25 - 45,African-American,0,0,0,7,0,0,0,0,0,0,0,1
2,Male,24,Less than 25,African-American,0,0,4,0,6,0,0,0,0,0,4,1
3,Male,23,Less than 25,African-American,0,1,1,0,6,0,0,0,0,0,1,0
4,Male,43,25 - 45,Other,0,0,2,0,0,0,4,0,0,0,2,0

In [125]:
reduced_without_race = df[['sex', 'age', 'age_cat', 'juve_fel_count', 'juv_misd_count', 'prios_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'priors_count', 'two_year_recid']]

In [126]:
reduced_without_race_dummies = pd.get_dummies(reduced_without_race)
reduced_without_race_dummies.head()

,age,juve_fel_count,juv_misd_count,prios_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,priors_count,two_year_recid,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25
0,69,0,0,0,7,0,0,0,0,0,0,0,0,0,1,0,1,0
1,34,0,0,0,7,0,0,0,0,0,0,0,1,0,1,1,0,0
2,24,0,0,4,0,6,0,0,0,0,0,4,1,0,1,0,0,1
3,23,0,1,1,0,6,0,0,0,0,0,1,0,0,1,0,0,1
4,43,0,0,2,0,0,0,4,0,0,0,2,0,0,1,1,0,0

## Train / Test on Entire Data Without "Bias"

In [127]:
X = reduced_without_race_dummies[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y = reduced_without_race_dummies['two_year_recid']

In [128]:
from sklearn.model_selection import train_test_split
from sklearn import tree
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [129]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6471897607122983

In [130]:
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.7117668893838159
Testing Data Score: 0.6471897607122983

In [132]:
feature_names = X.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.2922366192005838, 'prios_count'),
 (0.2891649838667777, 'priors_count'),
 (0.0676114225969263, 'juv_misd_count'),
 (0.06504118882993012, 'age_cat_Less than 25'),
 (0.056202064610676734, 'juve_fel_count'),
 (0.05430930069885265, 'age_cat_Greater than 45'),
 (0.032658543360306554, 'age_cat_25 - 45'),
 (0.02567670824349682, 'arrest_case_no_charge'),
 (0.025292997746009238, 'drugs'),
 (0.0222698244432572, 'theft'),
 (0.021861464654920355, 'violence'),
 (0.021631337777306137, 'traffic'),
 (0.019740711124235595, 'disorderly_conduct'),
 (0.006302832846720425, 'sexual_misconduct')]

## Trying to see if we can train without race then look at confusion matrices after with race joined back onto it, by id??  Wednesday Work Start

## Confusion Matrices

In [133]:
predictions = rf.predict(X_test)
X_test.head()

,juve_fel_count,priors_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,juv_misd_count,prios_count
1315,0,0,0,0,5,0,0,0,0,1,0,0,0,0
1893,0,14,0,0,0,0,3,0,0,1,0,0,0,14
6937,0,3,0,0,0,4,0,0,0,0,0,1,0,3
7021,0,0,7,0,0,0,0,0,0,0,1,0,0,0
4908,0,11,0,0,5,0,0,0,0,1,0,0,0,11

In [134]:
X_test['Prediction'] = predictions
X_test['Actual'] = y_test

C:\Users\scott\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\scott\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [135]:
X_test_see_no_race = X_test[['Prediction', 'Actual']]
X_test_see_no_race.head()

      Prediction  Actual
1315           0       1
1893           0       1
6937           1       0
7021           0       0
4908           1       1

In [136]:
joinedDF_trained_no_race = X_test_see_race.join(reducedDF, how='outer')
joinedDF_trained_no_race.head(20)

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual,sex,age,...,prios_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,priors_count,two_year_recid
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,69,...,0,7,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,34,...,0,7,0,0,0,0,0,0,0,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,24,...,4,0,6,0,0,0,0,0,4,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,23,...,1,0,6,0,0,0,0,0,1,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,43,...,2,0,0,0,4,0,0,0,2,0

In [137]:
joinedDF_no_na = joinedDF_trained_no_race.dropna()
joinedDF_no_na.head()

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual,sex,age,...,prios_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,priors_count,two_year_recid
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Female,39,...,0,7,0,0,0,0,0,0,0,0
14,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,Female,47,...,1,0,0,0,4,0,0,0,1,1
15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Male,31,...,7,0,0,0,0,3,0,0,7,1
17,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Male,25,...,3,0,0,5,0,0,0,0,3,0
19,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,Male,31,...,5,0,6,0,0,0,0,0,5,1

## Confusion Matrix Loc by Caucasian - trained and test on no race

In [138]:
caucasian = joinedDF_no_na.loc[joinedDF_no_na['race'] == 'Caucasian']
caucasian_reduced = caucasian[['race','Prediction','Actual']]
caucasian_reduced.head()

         race  Prediction  Actual
8   Caucasian         0.0     0.0
14  Caucasian         0.0     1.0
19  Caucasian         1.0     1.0
23  Caucasian         0.0     0.0
31  Caucasian         0.0     1.0

In [139]:
from sklearn.metrics import confusion_matrix
y_true_caucasian = caucasian_reduced['Actual']
y_pred_caucasian = caucasian_reduced['Prediction']
confusion_matrix(y_true_caucasian, y_pred_caucasian)

array([[288,  78],
       [139, 106]], dtype=int64)

In [140]:
tn, fp, fn, tp = confusion_matrix(y_true_caucasian, y_pred_caucasian).ravel()
(tn, fp, fn, tp)

(288, 78, 139, 106)

In [141]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix trained on no race for Caucasian: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix trained on no race for Caucasian:
Total: 611
False Positive: 0.1276595744680851
False Negative: 0.22749590834697217

## Confusion Matrix Loc by A-A - trained and test on no race

In [142]:
african_american = joinedDF_no_na.loc[joinedDF_no_na['race'] == 'African-American']
# caucasian.head()
african_american_reduced = african_american[['race','Prediction','Actual']]
african_american_reduced.head()

                race  Prediction  Actual
15  African-American         0.0     1.0
17  African-American         1.0     0.0
41  African-American         0.0     0.0
44  African-American         0.0     1.0
57  African-American         0.0     0.0

In [143]:
from sklearn.metrics import confusion_matrix
y_true_african_american = african_american_reduced['Actual']
y_pred_african_american = african_american_reduced['Prediction']
confusion_matrix(y_true_african_american, y_pred_african_american)

array([[328, 143],
       [189, 282]], dtype=int64)

In [144]:
tn, fp, fn, tp = confusion_matrix(y_true_african_american, y_pred_african_american).ravel()
(tn, fp, fn, tp)

(328, 143, 189, 282)

In [145]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix trained on no race for African-American: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix trained on no race for African-American:
Total: 942
False Positive: 0.15180467091295116
False Negative: 0.20063694267515925

## Confusion Matrix Loc by Hispanic - trained and test on no race

In [146]:
hispanic = joinedDF_no_na.loc[joinedDF_no_na['race'] == 'Hispanic']
# caucasian.head()
hispanic_reduced = hispanic[['race','Prediction','Actual']]
hispanic_reduced.head()

         race  Prediction  Actual
156  Hispanic         0.0     0.0
168  Hispanic         0.0     0.0
176  Hispanic         0.0     0.0
177  Hispanic         0.0     0.0
185  Hispanic         0.0     0.0

In [147]:
from sklearn.metrics import confusion_matrix
y_true_hispanic = hispanic_reduced['Actual']
y_pred_hispanic = hispanic_reduced['Prediction']
confusion_matrix(y_true_hispanic, y_pred_hispanic)

array([[78, 11],
       [42, 17]], dtype=int64)

In [148]:
tn, fp, fn, tp = confusion_matrix(y_true_hispanic, y_pred_hispanic).ravel()
(tn, fp, fn, tp)

(78, 11, 42, 17)

In [149]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix trained on no race for Hispanic: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix trained on no race for Hispanic:
Total: 148
False Positive: 0.07432432432432433
False Negative: 0.28378378378378377

## Confusion Matrix Loc by Native-American - trained and test on no race

In [150]:
native_american = joinedDF_no_na.loc[joinedDF_no_na['race'] == 'Native American']
# caucasian.head()
native_american_reduced = native_american[['race','Prediction','Actual']]
native_american_reduced.head()

                 race  Prediction  Actual
457   Native American         1.0     1.0
1163  Native American         1.0     0.0
1703  Native American         0.0     0.0
1858  Native American         0.0     0.0
3639  Native American         1.0     1.0

In [151]:
from sklearn.metrics import confusion_matrix
y_true_native_american = native_american_reduced['Actual']
y_pred_native_american = native_american_reduced['Prediction']
confusion_matrix(y_true_native_american, y_pred_native_american)

array([[2, 1],
       [0, 2]], dtype=int64)

In [152]:
tn, fp, fn, tp = confusion_matrix(y_true_native_american, y_pred_native_american).ravel()
(tn, fp, fn, tp)

(2, 1, 0, 2)

In [153]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix trained on no race for Native American: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix trained on no race for Native American:
Total: 5
False Positive: 0.2
False Negative: 0.0

## Confusion Matrix Loc by Other - trained and test on no race

In [154]:
other = joinedDF_no_na.loc[joinedDF_no_na['race'] == 'Other']
# caucasian.head()
other_reduced = other[['race','Prediction','Actual']]
other_reduced.head()

      race  Prediction  Actual
26   Other         0.0     0.0
51   Other         0.0     0.0
91   Other         1.0     1.0
131  Other         0.0     0.0
157  Other         0.0     0.0

In [155]:
from sklearn.metrics import confusion_matrix
y_true_other = other_reduced['Actual']
y_pred_other = other_reduced['Prediction']
confusion_matrix(y_true_other, y_pred_other)

array([[45,  9],
       [13, 14]], dtype=int64)

In [156]:
tn, fp, fn, tp = confusion_matrix(y_true_other, y_pred_other).ravel()
(tn, fp, fn, tp)

(45, 9, 13, 14)

In [157]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix trained on no race for Other: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix trained on no race for Other:
Total: 81
False Positive: 0.1111111111111111
False Negative: 0.16049382716049382

## Confusion Matrix Loc by Asian - trained and test on no race

In [158]:
asian = joinedDF_no_na.loc[joinedDF_no_na['race'] == 'Asian']
# caucasian.head()
asian_reduced = asian[['race','Prediction','Actual']]
asian_reduced.head()

       race  Prediction  Actual
486   Asian         0.0     1.0
1586  Asian         0.0     0.0
1860  Asian         0.0     1.0
2034  Asian         0.0     1.0
3752  Asian         1.0     0.0

In [159]:
from sklearn.metrics import confusion_matrix
y_true_asian = asian_reduced['Actual']
y_pred_asian = asian_reduced['Prediction']
confusion_matrix(y_true_asian, y_pred_asian)

array([[2, 2],
       [4, 2]], dtype=int64)

In [160]:
tn, fp, fn, tp = confusion_matrix(y_true_asian, y_pred_asian).ravel()
(tn, fp, fn, tp)

(2, 2, 4, 2)

In [161]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix trained on no race for Asian: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix trained on no race for Asian:
Total: 10
False Positive: 0.2
False Negative: 0.4

# Wednesday Work End

## Train on Entire Data, Test on Specific Races

# White

In [ ]:
caucasian = df.loc[df['race'] == 'Caucasian']
caucasian_reduced = caucasian[['sex', 'age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
caucasian_DF = pd.get_dummies(caucasian_reduced)
X_test_caucasian = caucasian_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'sex_Female', 'sex_Male', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_caucasian = caucasian_DF['two_year_recid']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X, y)
rf.score(X_test_caucasian, y_test_caucasian)

In [ ]:
feature_names = X.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# African-American

In [ ]:
african_american = df.loc[df['race'] == 'African-American']
african_american_reduced = african_american[['sex', 'age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
african_american_DF = pd.get_dummies(african_american_reduced)
X_test_aa = african_american_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'sex_Female', 'sex_Male', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_aa = african_american_DF['two_year_recid']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X, y)
rf.score(X_test_aa, y_test_aa)

In [ ]:
feature_names = X.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# Asian

In [ ]:
asian = df.loc[df['race'] == 'Asian']
asian_reduced = asian[['sex', 'age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
asian_DF = pd.get_dummies(asian_reduced)
X_test_asian = asian_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'sex_Female', 'sex_Male', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_asian = asian_DF['two_year_recid']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X, y)
rf.score(X_test_asian, y_test_asian)

In [ ]:
feature_names = X.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# Hispanic

In [ ]:
hispanic = df.loc[df['race'] == 'Hispanic']
hispanic_reduced = hispanic[['sex', 'age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
hispanic_DF = pd.get_dummies(hispanic_reduced)
X_test_hispanic = hispanic_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'sex_Female', 'sex_Male', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_hispanic = hispanic_DF['two_year_recid']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X, y)
rf.score(X_test_hispanic, y_test_hispanic)

In [ ]:
feature_names = X.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# Native American

In [ ]:
native_american = df.loc[df['race'] == 'Native American']
native_american_reduced = native_american[['sex', 'age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
native_american_DF = pd.get_dummies(native_american_reduced)
X_test_native_american = native_american_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'sex_Female', 'sex_Male', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_native_american = native_american_DF['two_year_recid']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X, y)
rf.score(X_test_native_american, y_test_native_american)

In [ ]:
feature_names = X.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# Other

In [ ]:
other = df.loc[df['race'] == 'Other']
other_reduced = other[['sex', 'age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
other_DF = pd.get_dummies(other_reduced)
X_test_other = other_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'sex_Female', 'sex_Male', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_other = other_DF['two_year_recid']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X, y)
rf.score(X_test_other, y_test_other)

In [ ]:
feature_names = X.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# DOING STUFF WITH RACE TREAD CAREFULLY

In [162]:
reducedDF_with_race_dummies = pd.get_dummies(reducedDF)
reducedDF_with_race_dummies.head()

,age,juve_fel_count,juv_misd_count,prios_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,...,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other
0,69,0,0,0,7,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
1,34,0,0,0,7,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,0
2,24,0,0,4,0,6,0,0,0,0,...,1,0,0,1,1,0,0,0,0,0
3,23,0,1,1,0,6,0,0,0,0,...,1,0,0,1,1,0,0,0,0,0
4,43,0,0,2,0,0,0,4,0,0,...,1,1,0,0,0,0,0,0,0,1

In [163]:
X_race = reducedDF_with_race_dummies[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count', 'race_African-American', 'race_Asian', 'race_Caucasian', 'race_Hispanic', 'race_Native American', 'race_Other']]
y_race = reducedDF_with_race_dummies['two_year_recid']

## Train ML on all data with race, now test on race

In [164]:
from sklearn.model_selection import train_test_split
from sklearn import tree
X_train, X_test, y_train, y_test = train_test_split(X_race, y_race, random_state=42)

In [165]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6494156928213689

In [166]:
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.7412769116555308
Testing Data Score: 0.6494156928213689

In [167]:
feature_names = X_race.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.24427884339325995, 'prios_count'),
 (0.24311006669084514, 'priors_count'),
 (0.0553190172448805, 'juv_misd_count'),
 (0.05103036604602411, 'age_cat_Less than 25'),
 (0.042137617106945115, 'age_cat_Greater than 45'),
 (0.04183160586201874, 'juve_fel_count'),
 (0.03945098814882738, 'race_African-American'),
 (0.032501894125672094, 'drugs'),
 (0.03147150379739599, 'theft'),
 (0.031124978554478978, 'race_Caucasian'),
 (0.030369013987939737, 'age_cat_25 - 45'),
 (0.029761235142181815, 'arrest_case_no_charge'),
 (0.026726485744116287, 'violence'),
 (0.024482946179348555, 'disorderly_conduct'),
 (0.02436665617848097, 'traffic'),
 (0.02187777085623065, 'race_Hispanic'),
 (0.017770064858644522, 'race_Other'),
 (0.007041181042804084, 'sexual_misconduct'),
 (0.0032511524261406824, 'race_Asian'),
 (0.0020966126137644445, 'race_Native American')]

In [168]:
predictions = rf.predict(X_test)

In [169]:
X_test['Prediction'] = predictions
X_test['Actual'] = y_test

C:\Users\scott\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\scott\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Separate DF into Only Races / Prediction / Actual

In [170]:
X_test_see_race = X_test[['race_African-American', 'race_Asian', 'race_Caucasian', 'race_Hispanic', 'race_Native American', 'race_Other', 'Prediction', 'Actual']]
X_test_see_race.head()

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual
1315,1,0,0,0,0,0,0,1
1893,1,0,0,0,0,0,0,1
6937,0,0,0,0,0,1,1,0
7021,0,0,1,0,0,0,0,0
4908,0,0,1,0,0,0,1,1

## Test Confusion Matrix on AA

In [171]:
X_test_see_race_aa = X_test_see_race.loc[X_test_see_race['race_African-American'] == 1]
X_test_see_race_aa.head()

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual
1315,1,0,0,0,0,0,0,1
1893,1,0,0,0,0,0,0,1
1894,1,0,0,0,0,0,1,1
800,1,0,0,0,0,0,0,0
2845,1,0,0,0,0,0,0,1

In [172]:
#print(f'Number of Predicted: {len(X_test_see_race_aa.loc[X_test_see_race_aa["Prediction"]==True])}, Number of Actual:{len(X_test_see_race_aa.loc[X_test_see_race_aa["Actual"]==True])}, {len(X_test_see_race_aa.loc[X_test_see_race_aa["Prediction"]==True])/len(X_test_see_race_aa["Actual"])}')

In [173]:
from sklearn.metrics import confusion_matrix
y_true = X_test_see_race_aa['Actual']
y_pred = X_test_see_race_aa['Prediction']
confusion_matrix(y_true, y_pred)

array([[320, 151],
       [178, 293]], dtype=int64)

In [174]:
# ### sklearn.metrics.confusion_matrix(y_true, y_pred, labels=None, sample_weight=None)[source]¶
# ## TEST
# tn, fp, fn, tp = confusion_matrix([0, 1, 0, 1], [1, 1, 1, 0]).ravel()
# (tn, fp, fn, tp)

In [175]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
(tn, fp, fn, tp)

(320, 151, 178, 293)

In [176]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix for African-American: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix for African-American:
Total: 942
False Positive: 0.1602972399150743
False Negative: 0.18895966029723993

## Confusion Matrix White

In [177]:
X_test_see_race_white = X_test_see_race.loc[X_test_see_race['race_Caucasian'] == 1]
X_test_see_race_white.head()

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual
7021,0,0,1,0,0,0,0,0
4908,0,0,1,0,0,0,1,1
6107,0,0,1,0,0,0,0,0
3066,0,0,1,0,0,0,0,0
5106,0,0,1,0,0,0,0,0

In [178]:
from sklearn.metrics import confusion_matrix
y_true = X_test_see_race_white['Actual']
y_pred = X_test_see_race_white['Prediction']
confusion_matrix(y_true, y_pred)

array([[286,  80],
       [138, 107]], dtype=int64)

In [179]:
## proves that our machine learning isnt doing anything more ethical

In [180]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
(tn, fp, fn, tp)

(286, 80, 138, 107)

In [181]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix for Caucasian: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix for Caucasian:
Total: 611
False Positive: 0.1309328968903437
False Negative: 0.22585924713584288

## Confusion Matrix Hispanic

In [182]:
X_test_see_race_hispanic = X_test_see_race.loc[X_test_see_race['race_Hispanic'] == 1]
X_test_see_race_hispanic.head()

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual
4959,0,0,0,1,0,0,0,0
2846,0,0,0,1,0,0,0,1
5015,0,0,0,1,0,0,0,0
4684,0,0,0,1,0,0,0,0
239,0,0,0,1,0,0,0,0

In [183]:
from sklearn.metrics import confusion_matrix
y_true = X_test_see_race_hispanic['Actual']
y_pred = X_test_see_race_hispanic['Prediction']
confusion_matrix(y_true, y_pred)

array([[74, 15],
       [39, 20]], dtype=int64)

In [184]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
(tn, fp, fn, tp)

(74, 15, 39, 20)

In [185]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix for Hispanic: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix for Hispanic:
Total: 148
False Positive: 0.10135135135135136
False Negative: 0.2635135135135135

## Confusion Matrix Native American

In [186]:
X_test_see_race_native_american = X_test_see_race.loc[X_test_see_race['race_Native American'] == 1]
X_test_see_race_native_american.head()

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual
457,0,0,0,0,1,0,1,1
1163,0,0,0,0,1,0,1,0
1858,0,0,0,0,1,0,0,0
1703,0,0,0,0,1,0,0,0
3639,0,0,0,0,1,0,1,1

In [187]:
from sklearn.metrics import confusion_matrix
y_true = X_test_see_race_native_american['Actual']
y_pred = X_test_see_race_native_american['Prediction']
confusion_matrix(y_true, y_pred)

array([[2, 1],
       [0, 2]], dtype=int64)

In [188]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
(tn, fp, fn, tp)

(2, 1, 0, 2)

In [189]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix for Native American: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix for Native American:
Total: 5
False Positive: 0.2
False Negative: 0.0

## Confusion Matrix Other

In [190]:
X_test_see_race_other = X_test_see_race.loc[X_test_see_race['race_Other'] == 1]
X_test_see_race_other.head()

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual
6937,0,0,0,0,0,1,1,0
5849,0,0,0,0,0,1,0,0
6782,0,0,0,0,0,1,0,0
4647,0,0,0,0,0,1,1,0
2392,0,0,0,0,0,1,0,0

In [191]:
from sklearn.metrics import confusion_matrix
y_true = X_test_see_race_other['Actual']
y_pred = X_test_see_race_other['Prediction']
confusion_matrix(y_true, y_pred)

array([[44, 10],
       [13, 14]], dtype=int64)

In [192]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
(tn, fp, fn, tp)

(44, 10, 13, 14)

In [193]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix for Other: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix for Other:
Total: 81
False Positive: 0.12345679012345678
False Negative: 0.16049382716049382

## Confusion Matrix Asian

In [194]:
X_test_see_race_other = X_test_see_race.loc[X_test_see_race['race_Asian'] == 1]
X_test_see_race_other.head()

,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,Prediction,Actual
2034,0,1,0,0,0,0,0,1
5746,0,1,0,0,0,0,0,0
1860,0,1,0,0,0,0,0,1
1586,0,1,0,0,0,0,0,0
5364,0,1,0,0,0,0,1,0

In [195]:
from sklearn.metrics import confusion_matrix
y_true = X_test_see_race_other['Actual']
y_pred = X_test_see_race_other['Prediction']
confusion_matrix(y_true, y_pred)

array([[2, 2],
       [3, 3]], dtype=int64)

In [196]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
(tn, fp, fn, tp)

(2, 2, 3, 3)

In [197]:
total = tn + fp + fn + tp 
percent_fp = fp / total 
percent_fn = fn / total 
print(f'Confusion Matrix for Asian: \nTotal: {total} \nFalse Positive: {percent_fp} \nFalse Negative: {percent_fn}')

Confusion Matrix for Asian:
Total: 10
False Positive: 0.2
False Negative: 0.3

## Dont read - dont make sense

# White

In [ ]:
caucasian = df.loc[df['race'] == 'Caucasian']
caucasian_reduced = caucasian[['sex', 'age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
caucasian_DF = pd.get_dummies(caucasian_reduced)
X_test_caucasian = caucasian_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'sex_Female', 'sex_Male', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_caucasian = caucasian_DF['two_year_recid']

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X_race, y_race)
rf.score(X_test_caucasian, y_test_caucasian)

In [ ]:
#pd.DataFrame({"Person": X_test.values.reshape(-1, 1), "Prediction": predictions,  "Actual": y_test}).reset_index(drop=True)