In [1]:
## Basic Modules to Import in Each Notebook

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
df = pd.read_csv("combined2.csv")
df.head()

,id,sex,age,age_cat,race,juve_fel_count,decile_score,juv_misd_count,juv_other_count,prios_count,...,decile_score_a,score_text,v_type_of_assessment,v_decile_score_v,v_score_text,priors_count,start,end_,event,two_year_recid
0,1,Male,69,Greater than 45,Other,0,1,0,0,0,...,1,Low,Risk of Violence,1,Low,0,0,327,0,0
1,3,Male,34,25 - 45,African-American,0,3,0,0,0,...,3,Low,Risk of Violence,1,Low,0,9,159,1,1
2,4,Male,24,Less than 25,African-American,0,4,0,1,4,...,4,Low,Risk of Violence,3,Low,4,0,63,0,1
3,5,Male,23,Less than 25,African-American,0,8,1,0,1,...,8,High,Risk of Violence,6,Medium,1,0,1174,0,0
4,6,Male,43,25 - 45,Other,0,1,0,0,2,...,1,Low,Risk of Violence,1,Low,2,0,1102,0,0

# Training Data on Specific Races

# Filter By Caucasian

In [3]:
caucasian = df.loc[df['race'] == 'Caucasian']
caucasian.head()

,id,sex,age,age_cat,race,juve_fel_count,decile_score,juv_misd_count,juv_other_count,prios_count,...,decile_score_a,score_text,v_type_of_assessment,v_decile_score_v,v_score_text,priors_count,start,end_,event,two_year_recid
6,8,Male,41,25 - 45,Caucasian,0,6,0,0,14,...,6,Medium,Risk of Violence,2,Low,14,5,40,1,1
8,10,Female,39,25 - 45,Caucasian,0,1,0,0,0,...,1,Low,Risk of Violence,1,Low,0,2,747,0,0
9,13,Male,21,Less than 25,Caucasian,0,3,0,0,1,...,3,Low,Risk of Violence,5,Medium,1,0,428,1,1
10,14,Male,27,25 - 45,Caucasian,0,4,0,0,0,...,4,Low,Risk of Violence,4,Low,0,0,857,0,0
12,16,Female,37,25 - 45,Caucasian,0,1,0,0,0,...,1,Low,Risk of Violence,1,Low,0,1,1186,0,0

In [4]:
## adding a new small df that makes dummies for age cateogry hopefully
caucasian_reduced = caucasian[['age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
caucasian_reduced.head()

,age,age_cat,juve_fel_count,priors_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,two_year_recid,juv_misd_count,prios_count
6,41,25 - 45,0,14,0,0,5,0,0,0,0,1,0,14
8,39,25 - 45,0,0,7,0,0,0,0,0,0,0,0,0
9,21,Less than 25,0,1,0,0,5,0,0,0,0,1,0,1
10,27,25 - 45,0,0,0,6,0,0,0,0,0,0,0,0
12,37,25 - 45,0,0,7,0,0,0,0,0,0,0,0,0

In [5]:
caucasian_DF = pd.get_dummies(caucasian_reduced)
caucasian_DF.head()

,age,juve_fel_count,priors_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,two_year_recid,juv_misd_count,prios_count,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25
6,41,0,14,0,0,5,0,0,0,0,1,0,14,1,0,0
8,39,0,0,7,0,0,0,0,0,0,0,0,0,1,0,0
9,21,0,1,0,0,5,0,0,0,0,1,0,1,0,0,1
10,27,0,0,0,6,0,0,0,0,0,0,0,0,1,0,0
12,37,0,0,7,0,0,0,0,0,0,0,0,0,1,0,0

# Train / Test Vars For Caucasian

In [6]:
X_train_caucasian = caucasian_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_train_caucasian = caucasian_DF['two_year_recid']

X_test_caucasian = caucasian_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_caucasian = caucasian_DF['two_year_recid']

# Filter By A-A

In [7]:
african_american = df.loc[df['race'] == 'African-American']
# african_american.head()

In [8]:
## adding a new small df that makes dummies for age cateogry hopefully
african_american_reduced = african_american[['age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]
# african_american_reduced.head()

In [9]:
african_american_DF = pd.get_dummies(african_american_reduced)
# african_american_DF.head()

# Train / Test Vars For A-A

In [10]:
X_train_aa = african_american_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_train_aa = african_american_DF['two_year_recid']

X_test_aa = african_american_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_aa = african_american_DF['two_year_recid']

# Filter By Hispanic

In [18]:
hispanic = df.loc[df['race'] == 'Hispanic']
#hispanic.head()

In [19]:
hispanic_reduced = hispanic[['age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]

In [20]:
hispanic_DF = pd.get_dummies(hispanic_reduced)
hispanic_DF.head()

,age,juve_fel_count,priors_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,two_year_recid,juv_misd_count,prios_count,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25
16,37,0,0,7,0,0,0,0,0,0,0,0,0,1,0,0
24,24,0,1,0,6,0,0,0,0,0,1,0,1,0,0,1
53,63,0,1,0,0,0,4,0,0,0,0,0,1,0,1,0
56,30,0,0,0,6,0,0,0,0,0,0,0,0,1,0,0
66,62,0,0,0,0,0,0,3,0,0,0,0,0,0,1,0

# Train / Test Vars For Hispanic

In [21]:
X_train_hispanic = hispanic_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_train_hispanic = hispanic_DF['two_year_recid']

X_test_hispanic = hispanic_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_hispanic = hispanic_DF['two_year_recid']

# Doing Tests With A-A Train Hispanic Test

In [22]:
from sklearn.ensemble import RandomForestClassifier
# this was 200 earlier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_aa, y_train_aa)
rf.score(X_test_hispanic, y_test_hispanic)

0.6751188589540412

# Filter By Native American

In [23]:
native_american = df.loc[df['race'] == 'Native American']
#native_american.head()

In [24]:
native_american_reduced = native_american[['age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]

In [25]:
native_american_DF = pd.get_dummies(native_american_reduced)
native_american_DF.head()

,age,juve_fel_count,priors_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,two_year_recid,juv_misd_count,prios_count,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25
457,34,0,4,0,0,0,4,0,0,0,1,0,4,1,0,0
759,27,0,3,0,0,0,0,3,0,0,0,0,3,1,0,0
879,38,0,25,7,0,0,0,0,0,0,1,0,25,1,0,0
1163,25,0,7,0,0,5,0,0,0,0,0,0,7,1,0,0
1177,42,0,0,0,0,0,0,3,0,0,0,0,0,1,0,0

# Train / Test Vars For Native American

In [26]:
X_train_native_american = native_american_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_train_native_american = native_american_DF['two_year_recid']

X_test_native_american = native_american_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_native_american = native_american_DF['two_year_recid']

# Filter By Other

In [42]:
other = df.loc[df['race'] == 'Other']
#other.head()

In [43]:
other_reduced = other[['age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]

In [44]:
other_DF = pd.get_dummies(other_reduced)
other_DF.head()

,age,juve_fel_count,priors_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,two_year_recid,juv_misd_count,prios_count,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25
0,69,0,0,7,0,0,0,0,0,0,0,0,0,0,1,0
4,43,0,2,0,0,0,4,0,0,0,0,0,2,1,0,0
5,44,0,0,7,0,0,0,0,0,0,0,0,0,1,0,0
7,43,0,3,0,0,0,4,0,0,0,0,0,3,1,0,0
26,32,0,0,7,0,0,0,0,0,0,0,0,0,1,0,0

# Train / Test Vars For Other

In [45]:
X_train_other = other_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_train_other = other_DF['two_year_recid']

X_test_other = other_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_other = other_DF['two_year_recid']

# Filter By Asian

In [47]:
asian = df.loc[df['race'] == 'Asian']
#asian.head()

In [48]:
asian_reduced = asian[['age', 'age_cat', 'juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct','two_year_recid','juv_misd_count', 'prios_count']]

In [49]:
asian_DF = pd.get_dummies(asian_reduced)
asian_DF.head()

,age,juve_fel_count,priors_count,violence,drugs,theft,arrest_case_no_charge,traffic,disorderly_conduct,sexual_misconduct,two_year_recid,juv_misd_count,prios_count,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25
480,35,0,0,0,0,5,0,0,0,0,0,0,0,1,0,0
486,50,0,5,0,0,0,0,3,0,0,1,0,5,0,1,0
679,21,0,0,0,0,0,0,0,2,0,1,0,0,0,0,1
1190,24,0,0,0,0,0,0,3,0,0,0,0,0,0,0,1
1286,38,0,2,7,0,0,0,0,0,0,0,0,2,1,0,0

# Train / Test Vars For Asian

In [50]:
X_train_asian = asian_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_train_asian = asian_DF['two_year_recid']

X_test_asian = asian_DF[['juve_fel_count', 'priors_count', 'violence', 'drugs', 'theft', 'arrest_case_no_charge', 'traffic', 'disorderly_conduct', 'sexual_misconduct', 'age_cat_25 - 45', 'age_cat_Greater than 45', 'age_cat_Less than 25', 'juv_misd_count', 'prios_count']]
y_test_asian = asian_DF['two_year_recid']

# Doing Tests With White Train

In [60]:
from sklearn.model_selection import train_test_split
from sklearn import tree
X_train, X_test, y_train, y_test = train_test_split(X_train_caucasian, y_train_caucasian, random_state=42)
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X_train, y_train)
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.734860883797054
Testing Data Score: 0.6519607843137255

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_caucasian, y_train_caucasian)
rf.score(X_test_aa, y_test_aa)

0.6229641693811075

In [52]:
# feature_names = X_train_caucasian.columns
# sorted(zip(rf.feature_importances_, feature_names), reverse=True)

In [37]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_caucasian, y_train_caucasian)
rf.score(X_test_hispanic, y_test_hispanic)

0.6656101426307448

In [38]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_caucasian, y_train_caucasian)
rf.score(X_test_native_american, y_test_native_american)

0.8235294117647058

In [46]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_caucasian, y_train_caucasian)
rf.score(X_test_other, y_test_other)

0.6702127659574468

In [51]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_caucasian, y_train_caucasian)
rf.score(X_test_asian, y_test_asian)

0.78125

# Doing Tests With A-A Train

In [61]:
from sklearn.model_selection import train_test_split
from sklearn import tree
X_train, X_test, y_train, y_test = train_test_split(X_train_aa, y_train_aa, random_state=42)
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=8000)
rf = rf.fit(X_train, y_train)
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.7285559174809989
Testing Data Score: 0.6362649294245385

In [55]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_aa, y_train_aa)
rf.score(X_test_caucasian, y_test_caucasian)

0.6482617586912065

In [56]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_aa, y_train_aa)
rf.score(X_test_hispanic, y_test_hispanic)

0.6862123613312203

In [57]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_aa, y_train_aa)
rf.score(X_test_native_american, y_test_native_american)

0.8235294117647058

In [58]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_aa, y_train_aa)
rf.score(X_test_other, y_test_other)

0.6914893617021277

In [59]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train_aa, y_train_aa)
rf.score(X_test_asian, y_test_asian)

0.71875